# 构建输出
.next/
out/
build/
dist/

# 依赖
node_modules/

# 日志
logs/
*.log

# 缓存
.cache/
.eslintcache
.stylelintcache
*.tsbuildinfo

# 环境变量
.env*
!.env.example

# Vercel
.vercel/

# 其他
.DS_Store
*.pem
coverage/